<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <!--<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">-->

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "#{book["title"]} - #{chapter_info["shortname"]}" %></title>

    <%= javascript_include_tag "javascripts/dragscroll-0.0.6/dragscroll.js" %> <!-- This imports the dragscroll.js file to every page using this layout. -->
    <%= partial "partials/stylesheets/site" %>
    <%= partial "partials/stylesheets/content_pages" %>
    <%= partial "partials/stylesheets/chapter" %>
    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :movies %>

    <% if chapter_info["media"]["ikarus_data"] %>
      <%= partial "partials/stylesheets/gallery_style" %>
      <%= partial "partials/javascripts/gallery_script" %>
    <% end %>

    <%= partial "partials/javascripts/all" %>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106560209-1"></script>
  </head>

  <body class="<%= page_classes %>">
    <div id="content">
      <div id="center-section">
        <%= partial "partials/menu" %>
        <%= partial "partials/content_menu" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
