<!doctype html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <!--<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">-->

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= chapter_info["name"] || "Chapter" %><%= " | Bob Villarreal"%></title>

    <%= javascript_include_tag :all %>
    <%= javascript_include_tag "javascripts/dragscroll-0.0.6/dragscroll.js" %> <!-- This imports the dragscroll.js file to every page using this layout. -->
    <%= stylesheet_link_tag "site" %>

    <%= partial "partials/chapter_style" %>
    <%= partial "partials/chapter_script" %>
  </head>

  <body class="<%= page_classes %>">
    <div id="content">
      <div id="center-section">
        <%= partial "partials/menu" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
