<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <!--<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">-->

    <title><%= "#{book["title"]}" %>
      <% if !current_page.data.index_page && current_page.data.media != "chapters" %>
        <% if media_entry["shortname"] != nil %>
          <%= " - #{media_entry["shortname"]} - #{media_entry["entry_page_title"]}" %>
        <% else %>
          <%= " - #{media_entry["name"]} - #{media_entry["entry_page_title"]}" %>
        <% end %>
      <% else %>
        <%= " - #{media_manager["page_title"]}" %>
      <% end %>
    </title>

    <%= javascript_include_tag "javascripts/dragscroll-0.0.6/dragscroll.js" %> <!-- This imports the dragscroll.js file to every page using this layout. -->
    <%= partial "partials/stylesheets/site" %>
    <%= partial "partials/stylesheets/content_pages" %>
    <% if !current_page.data.index_page %>
      <%= partial "partials/stylesheets/gallery_style" %>
      <%= partial "partials/javascripts/gallery_script" %>
    <% else %>
      <%= partial "partials/stylesheets/galleries_index_page" %>
      <%= partial "partials/stylesheets/content_index_page" %>
    <% end %>

    <%= partial "partials/javascripts/all" %>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106560209-1"></script>
  </head>

  <body class="<%= page_classes %>">
    <div id="content">
      <div id="center-section">
        <%= partial "partials/menu" %>
        <%= partial "partials/content_menu" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
