<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <!--<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Bob Villarreal" %></title>

    <%= stylesheet_link_tag :site %>
    <% if current_page.data.page == "clawing home" %>
      <%= stylesheet_link_tag :home %>
    <% end %>
    <% if current_page.data.content_page %>
      <%= stylesheet_link_tag :content_pages %>
      <% if current_page.data.page == "clawing content index" %>
        <%= stylesheet_link_tag :content_index_page %>
      <% end %>
      <% if current_page.data.page == "clawing slideshows index" %>
        <%= stylesheet_link_tag :slideshows_index_page %>
      <% end %>
      <% if current_page.data.page == "clawing movies" %>
        <%= javascript_include_tag :jquery %>
        <%= javascript_include_tag :movies %>
      <% end %>
    <% else %>
      <%= stylesheet_link_tag :no_content_pages %>
      <% if current_page.data.about_page %>
        <%= stylesheet_link_tag :about_pages %>
      <% end %>
    <% end %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div id="content">
      <div id="center-section">
        <%= partial "partials/menu" %>
        <% if current_page.data.content_page %>
          <%= partial "partials/content_menu" %>
        <% elsif current_page.data.about_page %>
          <%= partial "partials/about_menu"%>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
