<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <!--<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"> -->

    <title><%= "#{book["title"]}" %>
      <% if current_page.data.content_page && current_page.data.media != "chapters" && current_page.data.media != "historical" %>
        <% if !current_page.data.index_page %>
          <% if media_entry["shortname"] != nil %>
            <%= " - #{media_entry["shortname"]} - #{media_entry["entry_page_title"]}" %>
          <% else %>
            <%= " - #{media_entry["name"]} - #{media_entry["entry_page_title"]}" %>
          <% end %>
        <% else %>
          <%= " - #{media_manager["page_title"]}" %>
        <% end %>
      <% else %>
        <%= " - #{current_page.data.title}" %>
      <% end %>
    </title>

    <%= partial "partials/stylesheets/site" %>
    <% if current_page.data.page == "home" %>
      <% if book["shortname"] == "clawing" %>
        <%= partial "partials/stylesheets/clawing_home" %>
      <% elsif book["shortname"] == "chronicles" %>
        <%= partial "partials/javascripts/chron_vol_script" %>
        <%= partial "partials/stylesheets/chronicles_home" %>
      <% elsif book["shortname"] == "greeks" %>
        <%= partial "partials/stylesheets/greeks_home" %>
      <% elsif book["shortname"] == "romans" %>
        <%= partial "partials/stylesheets/romans_home" %>
      <% end %>
    <% end %>
    <% if current_page.data.content_page %>
      <%= partial "partials/stylesheets/content_pages" %>
      <% if current_page.data.media == "chapters" && current_page.data.index_page %>
        <%= partial "partials/stylesheets/content_index_page" %>
      <% end %>
      <% if current_page.data.media == "slideshows" && current_page.data.index_page %>
        <%= partial "partials/stylesheets/slideshows_index_page" %>
      <% end %>
      <% if current_page.data.media == "movies" && !current_page.data.index_page %>
        <%= javascript_include_tag :jquery %>
        <%= javascript_include_tag :movies %>
      <% end %>
      <% if current_page.data.media == "passages" && current_page.data.index_page %>
        <% if book["shortname"] == "chronicles" %>
          <%= partial "partials/stylesheets/passages_index_page" %>
        <% end %>
      <% end %>
      <% if current_page.data.media == "tours" && current_page.data.index_page %>
        <% if book["shortname"] == "chronicles" %>
          <%= partial "partials/stylesheets/tours_index_page" %>
        <% end %>
      <% end %>
    <% else %>
      <%= partial "partials/stylesheets/no_content_pages" %>
      <% if current_page.data.about_page %>
        <%= partial "partials/stylesheets/about_pages" %>
      <% end %>
    <% end %>
    <%= partial "partials/javascripts/all" %>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106560209-1"></script>
  </head>

  <body class="<%= page_classes %>">
    <div id="content">
      <div id="center-section">
        <%= partial "partials/menu" %>
        <% if current_page.data.content_page %>
          <%= partial "partials/content_menu" %>
        <% elsif current_page.data.about_page %>
          <%= partial "partials/about_menu"%>
        <% end %>
        <%= yield %>
        <% if current_page.data.page == "home" %>
          <%= partial "partials/visitor_count" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
