<div id="header">
  <div id="menubar-div">
    <a class="menu-link <% if current_page.data.page == "home" %>menu-link-underlined<% end %>"  href="/<%= book["shortname"] %>/">Home</a><% if current_page.data.page == "clawing home" %><% end %> |
    <a class="menu-link <% if current_page.data.about_page %>menu-link-underlined<% end %>" href="/<%= book["shortname"] %>/aboutbook">About the Book</a> |
    <a class="menu-link <% if current_page.data.content_page %>menu-link-underlined<% end %>" href="/<%= book["shortname"] %>/chapters/">Companion Media</a> |
    <a class="menu-link" href="/<%= book["other_book_location"] %>"><%= book["other_book_menu_text"] %></a>
  </div>
</div>
