<div id="header">
  <div id="menubar-div">
    <a class="menu-link" href="/<%= book["shortname"] %>/">Home</a> |
    <a class="menu-link" href="/<%= book["shortname"] %>/aboutbook">About the Book</a> |
    <a class="menu-link" href="/<%= book["shortname"] %>/chapters/">Companion Media</a> |
    <a class="menu-link" href="/<%= book["other_book_location"] %>"><%= book["other_book_menu_text"] %></a>
  </div>
</div>
