---
title: Chapter
content_page: true
media: chapters
index_page: false
---

<% puts "#{chapter_info["name"]} chapter is being built." %>
<div>
	<h1 class="media-header" id="chapter-header"><%= chapter_info["name"] %></h1>
	<a id="chapters-link" href="/<%= book["shortname"] %>/chapters/">All Chapters</a>
	<div id="chapter-menu-div">
		<% if chapter_info["media"].length > 1
		 	chapter_info["media"].each_with_index do |media_item, index| %>
				<a class="menu-link" href="#<%=media_item[1]["content_path"]%>-header"><%=media_item[1]["content_name"]%></a>
				<% if index < chapter_info["media"].length - 1 %>
					|
				<% end
			end
		end %>
	</div>
	<div>
  <% chapter_info["media"].each do |media_item| %>
		<h2 id="<%=media_item[1]["content_path"]%>-header" class="chapter-section-header"><%=media_item[1]["content_name"]%></h2>
		<%= partial "partials/#{media_item[1]["content_path"]}" %>
	<% end %>
</div>
