---
title: Gallery
content_page: true
media: galleries
index_page: false
---

<% gallery_info = media_entry %>
<% #puts "#{gallery_info["name"]} gallery is being built." %>
<div>
	<h1 class="media-header" id="gallery-header"><%= gallery_info["content_longname"] || gallery_info["content_name"] %> - <%= gallery_info["name"] %></h1>
	<a id="gallery-link" href="/<%= book["shortname"] %>/<%= gallery_info["content_path"] %>/">All Galleries</a>
  <%= partial "partials/galleries" %>
</div>
