---
title: Galleries
content_page: true
media: galleries
index_page: true
---

<% def section(book, media_manager, section)
  section.each do |gallery| %>
    <p><a href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= gallery["path"] %>"><%= gallery["name"] %></a></p>
  <% end
end %>

<% def sections(book, media_manager, volume)
  sections = []
  volume.each do |section|
    if section["section"] then
      sections.push(section)
    end
  end
  if sections.length > 0
    sections.each do |section| %>
      <div class="section-div">
        <h2><%= section["name"] %></h2>
        <% section(book, media_manager, section["galleries"]) %>
      </div>
    <% end
  else
    section(book, media_manager, volume)
  end
end %>

<div id="main">
  <h1 class="media-header"><%= media_manager["content_longname"] || "Galleries" %></h1>
  <% volumes = []
  media.each do |media_entry|
    if media_entry["volume"] then
      volumes.push(media_entry)
    end
  end
  if volumes.length > 0 then
    volumes.each do |volume| %>
      <div class="volume-div">
        <h1><%= volume["name"] %></h1>
        <% if volume["sections"]
          sections(book, media_manager, volume["sections"])
        else
          section(book, media_manager, volume["galleries"])
        end %>
      </div>
    <% end
  else
    sections(book, media_manager, media)
  end %>
</div>
