---
title: Historical Sources
content_page: true
media: historical
index_page: true
---

<% def chronicles_index (book, media_manager, media) %>
  <ol>
    <li>
      <h2><a class="source-link"><%= media[0]["name"] %></a></h2>
      <ul>
        <% media[0]["galleries"].each do |letter| %>
          <li class="letter-li"><a href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= letter["path"] %>"><%= letter["name"] %></a></li>
        <% end %>
      </ul>
    </li>
    <li><h2><a class="source-link" href="./prescott/">CHAPTER 5 OF: <u>The History of the Conquest of Peru</u>, by William H. Prescott.</a></h2></li>
    <li><h2><a class="source-link" href="./vega/">Battle of Tucapel by Garcilaso de la Vega</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[1]["galleries"][0]["path"] %>/"><%= media[1]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[2]["galleries"][0]["path"] %>/"><%= media[2]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[3]["galleries"][0]["path"] %>/"><%= media[3]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[26]["galleries"][0]["path"] %>/"><%= media[26]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./cusco_tour/">A video tour of Cusco, Peru</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[4]["galleries"][0]["path"] %>/"><%= media[4]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./sacsay/">A video tour of Fortress Sacsayhuaman</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[5]["galleries"][0]["path"] %>/"><%= media[5]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[6]["galleries"][0]["path"] %>/"><%= media[6]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[7]["galleries"][0]["path"] %>/"><%= media[7]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./ollantaytambo/">A video tour of the Citadel of Ollantaytambo</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[8]["galleries"][0]["path"] %>/"><%= media[8]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[9]["galleries"][0]["path"] %>/"><%= media[9]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[10]["galleries"][0]["path"] %>/"><%= media[10]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./nautical/">Sailing Ship Nautical Terms</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[11]["galleries"][0]["path"] %>/"><%= media[11]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[12]["galleries"][0]["path"] %>/"><%= media[12]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[13]["galleries"][0]["path"] %>/"><%= media[13]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[14]["galleries"][0]["path"] %>/"><%= media[14]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[15]["galleries"][0]["path"] %>/"><%= media[15]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[16]["galleries"][0]["path"] %>/"><%= media[16]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./new_laws/">NEW LAWS OF THE INDIES FOR THE GOOD TREATMENT AND PRESERVATION OF THE INDIANS</a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[17]["galleries"][0]["path"] %>/"><%= media[17]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[18]["galleries"][0]["path"] %>/"><%= media[18]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[19]["galleries"][0]["path"] %>/"><%= media[19]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[20]["galleries"][0]["path"] %>/"><%= media[20]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[21]["galleries"][0]["path"] %>/"><%= media[21]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[22]["galleries"][0]["path"] %>/"><%= media[22]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[23]["galleries"][0]["path"] %>/"><%= media[23]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[24]["galleries"][0]["path"] %>/"><%= media[24]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[25]["galleries"][0]["path"] %>/"><%= media[25]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./exposa_quito/">A video tour of Quito</a><h2></li>
  </ol>
<% end %>

<% def prelude_index (book, media_manager, media) %>
  <ol>
    <li><h2><a class="source-link" href="./roping/">Roping Up on a Mountain Climb</a></h2></li>
    <li><h2><a class="source-link" href="./apani/">THE CONVERSATION WITH THE INDIAN CALLED APANI, ONE OF THE INCA BUILDERS OF THE HUTS ON THE SUMMIT OF LLULLAILLACO, AS CONDUCTED BY PEDRO DE MÉRIDA AND ANCOHUALLA, AS RECORDED ON DECEMBER 17, 1536.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[32]["galleries"][0]["path"] %>/"><%= media[32]["name"] %></a></h2></li>
  </ol>
  <h2>Ecuador</h2>
  <ol>
    <li><h2><a class="source-link" href="./mariscal/">Landing at the Old Quito Mariscal Sucre</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[8]["galleries"][0]["path"] %>/"><%= media[8]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[0]["galleries"][0]["path"] %>/"><%= media[0]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[15]["galleries"][0]["path"] %>/"><%= media[15]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./exposa_quito/">A video tour of Quito</a><h2></li>
    <li><h2><a class="source-link" href="./expedia_quito/">A video tour of Quito</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[9]["galleries"][0]["path"] %>/"><%= media[9]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./eruption_pichincha/">The Eruption of Pichincha in 1999</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[19]["galleries"][0]["path"] %>/"><%= media[19]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[2]["galleries"][0]["path"] %>/"><%= media[2]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[3]["galleries"][0]["path"] %>/"><%= media[3]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./eruption_tungurahua/">Tungurahua eruption in December of 2010</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[4]["galleries"][0]["path"] %>/"><%= media[4]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[20]["galleries"][0]["path"] %>/"><%= media[20]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[21]["galleries"][0]["path"] %>/"><%= media[21]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[5]["galleries"][0]["path"] %>/"><%= media[5]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./asa_chimborazo/">A video of a climb of Chimborazo, its summit the farthest point from Earth's center.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[23]["galleries"][0]["path"] %>/"><%= media[23]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[14]["galleries"][0]["path"] %>/"><%= media[14]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[22]["galleries"][0]["path"] %>/"><%= media[22]["name"] %></a></h2></li>
  </ol>
  <h2>Bolivia</h2>
  <ol>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[27]["galleries"][0]["path"] %>/"><%= media[27]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[29]["galleries"][0]["path"] %>/"><%= media[29]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[30]["galleries"][0]["path"] %>/"><%= media[30]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[31]["galleries"][0]["path"] %>/"><%= media[31]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./cusco_landing/">Landing in Cusco</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[26]["galleries"][0]["path"] %>/"><%= media[26]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[13]["galleries"][0]["path"] %>/"><%= media[13]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[16]["galleries"][0]["path"] %>/"><%= media[16]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./cusco_tour/">A video tour of Cusco, Peru</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[17]["galleries"][0]["path"] %>/"><%= media[17]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./sacsay/">A video tour of Fortress Sacsayhuaman</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[28]["galleries"][0]["path"] %>/"><%= media[28]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[18]["galleries"][0]["path"] %>/"><%= media[18]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./ollantaytambo/">A video tour of the Citadel of Ollantaytambo, #1</a><h2></li>
    <li><h2><a class="source-link" href="./ollantaytambo2/">A video tour of the Citadel of Ollantaytambo, #2</a><h2></li>
    <li><h2><a class="source-link" href="./ollantaytambo3/">A video tour of the Citadel of Ollantaytambo, #3</a><h2></li>
    <li><h2><a class="source-link" href="./cusco_train/">The Train from Cusco to Machu Picchu</a><h2></li>
    <li><h2><a class="source-link" href="./mp_pueblo/">Video of Machupicchu Pueblo</a><h2></li>
    <li><h2><a class="source-link" href="./bus_ride/">Video for bus ride from Machupicchu Pueblo to Machu Picchu</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[11]["galleries"][0]["path"] %>/"><%= media[11]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./tour_machu_picchu/">A National Geographic video tour of Machu Picchu</a><h2></li>
    <li><h2><a class="source-link" href="./huayna_picchu/">Video of a climb of Huayna Picchu</a><h2></li>
    <li><h2><a class="source-link" href="./peru_la_paz/">FLIGHT FROM CUSCO - PERU TO LA PAZ</a><h2></li>
    <li><h2><a class="source-link" href="./la_paz_landing/">Landing in La Paz, Bolivia</a><h2></li>
    <li><h2><a class="source-link" href="./la_paz_tour/">A Video Tour of La Paz.</a><h2></li>
    <li><h2><a class="source-link" href="./la_paz_cholitas/">The Fighting Cholitas of La Paz.</a><h2></li>
    <li><h2><a class="source-link" href="./isla_del_sol/">A Video Tour of the Isla del Sol on Lake Titicaca.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[12]["galleries"][0]["path"] %>/"><%= media[12]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[25]["galleries"][0]["path"] %>/"><%= media[25]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[1]["galleries"][0]["path"] %>/"><%= media[1]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./flyover_tiwanaku/">A Fly-over of the Tiwanaku ruins.</a><h2></li>
    <li><h2><a class="source-link" href="./alpamayo/">A Climbing Video of Peque&ntildeo Alpamayo.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[6]["galleries"][0]["path"] %>/"><%= media[6]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./flyover_illimani/">A Video of a Flyby of Illimani.</a><h2></li>
    <li><h2><a class="source-link" href="./bmg_illimani/">A video of a climb of Illimani.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[10]["galleries"][0]["path"] %>/"><%= media[10]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./la_paz_takeoff/">Takeoff from La Paz, Bolivia</a><h2></li>
    <li><h2><a class="source-link" href="./storms/">Flying over Amazon storms on the way to Miami</a><h2></li>
  </ol>
  <h2>Aconcagua</h2>
  <ol>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[34]["galleries"][0]["path"] %>/"><%= media[34]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./santiago_mendoza/">The flight over the Andes from Santiago to Mendoza.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[35]["galleries"][0]["path"] %>/"><%= media[35]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[33]["galleries"][0]["path"] %>/"><%= media[33]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[7]["galleries"][0]["path"] %>/"><%= media[7]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[24]["galleries"][0]["path"] %>/"><%= media[24]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./polish_below/">Video to come.</a><h2></li>
    <li><h2><a class="source-link" href="./polish_notch/">A look down the Polish Glacier from its top at "The Notch."</a><h2></li>
    <li><h2><a class="source-link" href="./polish_above/">Another look down the Glacier from above.</a><h2></li>
    <li><h2><a class="source-link" href="./polish_direct/">Video of a climb of the Polish Glacier Direct route and then on to the Aconcagua summit.</a><h2></li>
    <li><h2><a class="source-link" href="./los_caracoles/">Video flying above the Los Caracoles (The Snails).</a><h2></li>
    <li><h2><a class="source-link" href="./driving_los_caracoles/">Driving east up the Los Caracoles.</a><h2></li>
  </ol>
<% end %>

<% def az_index (book, media_manager, media) %>
  <ol>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[0]["galleries"][0]["path"] %>/"><%= media[0]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[1]["galleries"][0]["path"] %>/"><%= media[1]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[8]["galleries"][0]["path"] %>/"><%= media[8]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[2]["galleries"][0]["path"] %>/"><%= media[2]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[3]["galleries"][0]["path"] %>/"><%= media[3]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[4]["galleries"][0]["path"] %>/"><%= media[4]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[5]["galleries"][0]["path"] %>/"><%= media[5]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[6]["galleries"][0]["path"] %>/"><%= media[6]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[7]["galleries"][0]["path"] %>/"><%= media[7]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./drone_flight/">A drone flight over the Amazon River and its rainforest. Courtesy of Scenic Scenes.</a><h2></li>
    <li><h2><a class="source-link" href="./tributary/">A ride down a tributary of the Amazon River.</a><h2></li>
    <li><h2><a class="source-link" href="./tributary2/">Another boat ride on an Amazon tributary.</a><h2></li>
    <li><h2><a class="source-link" href="./iquitos_to_manaus/">A river boat cruise from Iquitos to Manaus.</a><h2></li>
    <li><h2><a class="source-link" href="./dance/">The chief and his Indians at one village welcomed Captain Orellana and his companions with a dance similar to this one.</a><h2></li>
    <li><h2><a class="source-link" href="./fire/">How the Companions Made a Fire On Their Amazon Voyage.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[9]["galleries"][0]["path"] %>/"><%= media[9]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./butterflies/">A video of some of the numerous butterfly species along the Amazon river. Courtesy of Shiri Puno Amazon Lodge.</a><h2></li>
    <li><h2><a class="source-link" href="./sights/">Sights and sounds in the Amazon rainforest. Courtesy of Mindful Audio.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[10]["galleries"][0]["path"] %>/"><%= media[10]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[11]["galleries"][0]["path"] %>/"><%= media[11]["name"] %></a></h2></li>
    <li><h2><a class="source-link" href="./video_crossbow/">A video of how to shoot a medieval crossbow.</a><h2></li>
    <li><h2><a class="source-link" href="./arquebus/">A video of how to shoot a medieval arquebus.</a><h2></li>
    <li><h2><a class="source-link" href="./gonzalo_pizzaro/">This document recounts the events that the men going to Peru were to encounter and the fate of Gonzalo Pizarro.</a><h2></li>
    <li><h2><a class="source-link" href="/<%= book["shortname"] %>/<%= media_manager["content_path"] %>/<%= media[12]["galleries"][0]["path"] %>/"><%= media[12]["name"] %></a></h2></li>
    </ol>
<% end %>

<div id="main">
  <h1 class="media-header"><%= media_manager["content_longname"] || "Galleries" %></h1>
  <% if book["shortname"] == "chronicles"
    chronicles_index(book, media_manager, media)
  elsif book["shortname"] == "prelude"
    prelude_index(book, media_manager, media)
  elsif book["shortname"] == "az"
    az_index(book, media_manager, media)
  end %>

</div>
