---
title: Bob Villarreal - Clawing Passages
book: clawing
content_page: true
media: passages
index_page: true
---

<div id="main">
  <h1 class="media-header">Passages</h1>
  <% media.each do |passages_info|
    if passages_info["section"] %>
      <h1><%= passages_info["name"] %></h1>
      <% passages_info["passages"].each do |section_passages| %>
        <p><a href="/<%= book["shortname"] %>/passages/<%= section_passages["path"] %>"><%= section_passages["name"] %></a></p>
      <% end %>
    <% else %>
      <p><a href="/<%= book["shortname"] %>/passages/<%= passages_info["path"] %>"><%= passages_info["name"] %></a></p>
    <% end %>
  <% end %>
</div>
