---
title: Slideshows
content_page: true
media: slideshows
index_page: true
---

<div id="main">
  <h1 class="media-header">Slide Shows</h1>
  <% categorized_slideshows = []
  media.each do |slideshows_info|
    found_category = false
    categorized_slideshows.each do |category|
      if category["category"] == slideshows_info["category"]
        category["slideshows"].push(slideshows_info)
        found_category = true
      end
    end

    if !found_category
      new_category = { "category" => slideshows_info["category"], "slideshows" => [] }
      new_category["slideshows"].push(slideshows_info)
      categorized_slideshows.push(new_category)
    end
  end

  categorized_slideshows.each do |category| %>
    <div class="slideshow-category-div">
      <h2><%= category["category"] %></h2>
      <% category["slideshows"].each do |slideshows_info| %>
        <h3 class="slideshow-name">
          <a href="/<%= book["shortname"] %>/slideshows/<%= slideshows_info["path"] %>"><%= slideshows_info["name"] %></a>
        </h3>
        <p class="slideshow-title-p">
          <a href="/<%= book["shortname"] %>/slideshows/<%= slideshows_info["path"] %>"><%= slideshows_info["slideshows"][0]["title"] %></a>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
