---
title: Tours
content_page: true
media: tours
index_page: true
---

<div id="main">
  <h1 class="media-header">Tours</h1>
  <p>To view the Tour locations interactively, the reader may use <a href="https://www.google.com/earth/">Google Earth</a>. In the search box in the upper left corner of the Google Earth window, search for the peak and country you want to visit. Once there, the viewer can zoom all the way down, right to "street" level, and see much of what I saw.</p>
  <% media.each do |tour_info|
    #puts tour_info["shortname"]
    #puts tour_info["name"]
    if tour_info["section"] %>
      <div class="tours-category-div">
        <h1><%= tour_info["name"] %></h1>
        <% tour_info["tours"].each do |section_tours| %>
          <p><a href="/<%= book["shortname"] %>/tours/<%= section_tours["path"] %>"><%= section_tours["name"] %></a></p>
        <% end %>
      </div>
    <% else %>
      <p><a href="/<%= book["shortname"] %>/tours/<%= tour_info["path"] %>"><%= tour_info["name"] %></a></p>
    <% end %>
  <% end %>
</div>
